* text eol=lf

packages/anonymous-token-request/lib/*    linguist-generated=true
packages/game-core/lib/*                  linguist-generated=true
package-lock.json                         linguist-generated=true
