{
  "singleQuote": true,
  "semi": false,
  "jsxBracketSameLine": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "importOrder": [
    "^@jaune/(.*)$",
    "^src/(.*)$",
    "^\\.\\./(.(?!\\.scss))+$",
    "^\\./(.(?!\\.scss))+$",
    "^\\.\\./(.+)\\.scss$",
    "^\\./(.+)\\.scss$"
  ],
  "importOrderSeparation": true
}
